.details-container{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    min-height: 90vh;
}


.product-details{
    background-color: white;
    width: 90%;
    height: 70vh;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 20px;

}
.product-details img{
    /* width: 215px;
    height: 303px; */
    width: 35%;
    /* height: 40%; */
    padding: 20px;
    
}

.details-info{
    
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: flex-start;

}

.details-info h3, .details-info p{
    padding: 10px;
}

.details-info button{
    background-color: yellow;
    border: none;
    font-size: 1.2em;
    width: 60%;
    cursor: pointer;
}

@media (min-width: 480px) {
    .details-container {
      background-color: lightgreen;
    }
  }