.header-container{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color:aliceblue;
}

.cart-wrapper{
    position: relative;
}

/* .wrapper span{
    position: absolute;
    top: -2px;
    right: -2px; 
} */

.cart-icon{
    font-size: 3em;
}

.cart-num{
    border-radius: 50%;
    background-color:red;
    color: white;
    position: absolute;
    top: 5px;
    right: 8px; 
    font-size: 16px;
    padding: 5px 8px;
}