.footer-container{
    height: 50px;
    background-color: #3A4895;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

/* .footer-container p{
    color: white;
} */